In [1]:
from utils.database_connection import DatabaseConnection
import utils.results_repository as rep
import pandas as pd
import numpy as np
from utils.column_name_utils import *
import utils.query_utils as query

In [2]:
db = DatabaseConnection()

Connected to MySQL Server version  8.0.31-23

In [3]:
experiment_name = "same-cpp-multi-core-micro-benchmark-different-compiler"
experiment_number = 1

used_dut_name = [
    'workstationone'
]

used_dut_env = 'prod'

used_test_case_names = [
    'fannkuch-redux.exe',
    'mandelbrot.exe'
]

used_compilers = [
    'clang'
]

used_thread = [
    'multi-threaded'
]

used_test_case_name = 'idle-case.exe'

ipg = "ipg"
lhm = "lhm"

used_mi_names = [
    ipg, lhm
]

ipg_sample_rate = 333
lhm_sample_rate = 100

used_min_temp = 0
used_max_temp = 200
used_burn_in = 1
used_allocated_cores = [
    []
]

### DUTs

In [4]:
used_dut_name_str = "','".join(used_dut_name)

In [5]:
dut = rep.get_devices_under_test(db)

dut

   Id            Name       Os   Env
0   1  workstationone  win32nt  prod

In [6]:
used_dut = dut.query(f"{ENV} == '{used_dut_env}' and {NAME} in ('{used_dut_name_str}')")

### Test Cases

In [7]:
tc = rep.get_test_cases(db)

tc

,Id,Name,Compiler,Language,Optimizations,TestCaseSize,Parameter,Threads
0,1,fannkuch-redux.exe,clang,c++,-openmp,microbenchmarks,12,multi-threaded
1,2,mandelbrot.exe,clang,c++,-openmp,microbenchmarks,16000,multi-threaded
2,3,idle-case.exe,clang,c++,-openmp,microbenchmarks,,multi-threaded

In [8]:
used_test_case_name_str = "','".join(used_test_case_names)
used_compiler_str = "','".join(used_compilers)
used_thread_str = "','".join(used_thread)

used_tc = tc.query(f"{COMPILER} in ('{used_compiler_str}') and {NAME} in ('{used_test_case_name_str}') and {THREADS} in ('{used_thread_str}')")

In [9]:
used_idle_case = tc.query(f"{COMPILER} in ('{used_compiler_str}') and {NAME} == '{used_test_case_name}' and {THREADS} in ('{used_thread_str}')")

### Measuring Instruments

In [10]:
mi = rep.get_measuring_instruments(db)

mi

   Id Name  SampleRate
0   1  lhm         100
1   2  ipg         333

In [11]:
used_mi = mi.query(f"({NAME} == '{ipg}' and {SAMPLE_RATE} == {ipg_sample_rate}) or ({NAME} == '{lhm}' and {SAMPLE_RATE} == {lhm_sample_rate})")

### Configurations

In [12]:
used_allocated_cores_str = "','".join([str(x) for x in used_allocated_cores])

In [13]:
config = rep.get_configurations(db)

config

   Id  MinTemp  MaxTemp  Burnin AllocatedCores
0   1        0      200       1             []

In [14]:
used_configs = config.query(f"{MIN_TEMP} == {used_min_temp} and " +
                            f"{MAX_TEMP} == {used_max_temp} and " +
                            f"{BURN_IN} == {used_burn_in} and " +
                            f"{ALLOCATED_CORES} in ('{used_allocated_cores_str}')")

### Experiment Names

In [15]:
exp = rep.get_distinct_experiments(db)

exp

   Experiment                                               Name
0           1  same-cpp-multi-core-micro-benchmark-different-...

## Used Things

In [16]:
used_dut

   Id            Name       Os   Env
0   1  workstationone  win32nt  prod

In [17]:
used_tc

,Id,Name,Compiler,Language,Optimizations,TestCaseSize,Parameter,Threads
0,1,fannkuch-redux.exe,clang,c++,-openmp,microbenchmarks,12,multi-threaded
1,2,mandelbrot.exe,clang,c++,-openmp,microbenchmarks,16000,multi-threaded

In [18]:
used_mi

   Id Name  SampleRate
0   1  lhm         100
1   2  ipg         333

In [19]:
used_idle_case

,Id,Name,Compiler,Language,Optimizations,TestCaseSize,Parameter,Threads
2,3,idle-case.exe,clang,c++,-openmp,microbenchmarks,,multi-threaded

In [20]:
used_configs

   Id  MinTemp  MaxTemp  Burnin AllocatedCores
0   1        0      200       1             []

In [26]:
for dut_index, dut_row in used_dut.iterrows():
    dut_id = dut_row[ID]
    for mi_index, mi_row in used_mi.iterrows():
        mi_id = mi_row[ID]
        for config_index, config_row in used_configs.iterrows():
            config_id = config_row[ID]
            for tc_index, tc_row in used_tc.iterrows():
                tc_id = tc_row[ID]
                tc_compiler = tc_row[COMPILER]
                tc_language = tc_row[LANGUAGE]
                tc_optimizations = tc_row[OPTIMIZATIONS]
                tc_test_case_size = tc_row[TEST_CASE_SIZE]
                tc_threads = tc_row[THREADS]
                
                tc_idle_case = query.get_idle_case(used_idle_case, tc_compiler, tc_language, tc_optimizations, tc_test_case_size, tc_threads)
                tc_idle_case_id =int(tc_idle_case[ID].iloc[0])
                
                tc_collection = rep.get_collections(db, dut_id, mi_id, config_id, tc_id, experiment_name, experiment_number)
                tc_idle_case_collection = rep.get_collections(db, dut_id, mi_id, config_id, tc_idle_case_id, experiment_name, experiment_number)
                
                tc_collection_id = int(tc_collection[ID].iloc[0])
                tc_idle_case_collection_id = int(tc_idle_case_collection[ID].iloc[0])
                
                tc_measurements = rep.get_measurements(db, tc_collection_id)
                tc_idle_case_measurements = rep.get_measurements(db, tc_idle_case_collection_id)

In [27]:
tc_measurements

,Id,Iteration,CollectionId,PackageTemperatureBegin,PackageTemperatureEnd,Duration,DramEnergyInJoules,GpuEnergyInJoules,CpuEnergyInJoules,BeginTime,EndTime,AdditionalMetadata
0,5,1,5,33.888889,34.222221,31213.0,18.253723,27.519165,1506.016968,2023-03-09 12:28:22,2023-03-09 12:28:53,{}
1,8,2,5,33.555557,34.555557,31198.0,18.331665,27.386841,1507.981567,2023-03-09 12:30:00,2023-03-09 12:30:31,{}
2,11,3,5,35.555557,38.333332,31189.0,18.389038,28.334961,1512.671631,2023-03-09 12:31:40,2023-03-09 12:32:11,{}
3,14,4,5,34.111111,34.888889,31290.0,18.299011,28.349426,1509.482544,2023-03-09 12:33:20,2023-03-09 12:33:51,{}
4,17,5,5,33.888889,34.666668,31176.0,18.242554,28.386658,1506.950928,2023-03-09 12:34:58,2023-03-09 12:35:29,{}
5,20,6,5,34.111111,34.444443,31160.0,18.260132,28.644897,1507.127686,2023-03-09 12:36:38,2023-03-09 12:37:09,{}
6,23,7,5,33.888889,34.888889,31215.0,18.258179,28.543945,1508.011597,2023-03-09 12:38:18,2023-03-09 12:38:49,{}
7,26,8,5,33.888889,34.888889,31163.0,18.234314,27.556213,1505.334839,2023-03-09 12:39:59,2023-03-09 12:40:30,{}
8,29,9,5,35.222221,36.444443,31247.0,18.390930,27.031311,1508.424072,2023-03-09 12:41:37,2023-03-09 12:42:08,{}
9,32,10,5,34.222221,36.000000,31157.0,18.230713,27.864685,1506.925293,2023-03-09 12:43:14,2023-03-09 12:43:45,{}
10,35,11,5,35.888889,35.000000,31234.0,18.278687,25.663513,1506.697876,2023-03-09 12:44:53,2023-03-09 12:45:24,{}
11,38,12,5,34.111111,34.777779,31276.0,18.598206,28.491394,1508.052124,2023-03-09 12:46:30,2023-03-09 12:47:01,{}
12,41,13,5,34.111111,35.000000,31195.0,18.232544,26.889648,1505.583252,2023-03-09 12:48:08,2023-03-09 12:48:39,{}
13,44,14,5,34.333332,35.222221,31153.0,18.224487,28.054932,1505.585571,2023-03-09 12:49:48,2023-03-09 12:50:19,{}
14,47,15,5,34.111111,35.000000,31209.0,18.278503,28.094604,1509.970459,2023-03-09 12:51:31,2023-03-09 12:52:02,{}
15,50,16,5,33.777779,34.555557,31185.0,18.260071,26.343506,1505.234375,2023-03-09 12:53:11,2023-03-09 12:53:42,{}
16,53,17,5,35.333332,36.222221,31228.0,18.381592,25.604675,1506.701904,2023-03-09 12:54:51,2023-03-09 12:55:23,{}
17,56,18,5,34.555557,37.222221,31167.0,18.211670,27.019165,1505.140381,2023-03-09 12:56:29,2023-03-09 12:57:00,{}
18,59,19,5,34.666668,35.111111,31155.0,18.185303,25.980469,1504.227173,2023-03-09 12:58:06,2023-03-09 12:58:37,{}
19,62,20,5,34.222221,35.000000,31182.0,18.331177,26.936523,1508.295166,2023-03-09 12:59:47,2023-03-09 13:00:18,{}
20,65,21,5,35.444443,36.555557,32044.0,19.253174,28.632324,1540.044556,2023-03-09 13:01:25,2023-03-09 13:01:57,{}
21,68,22,5,35.888889,36.444443,31219.0,18.297363,28.631958,1511.149292,2023-03-09 13:03:03,2023-03-09 13:03:34,{}
22,71,23,5,35.888889,36.888889,31967.0,18.931030,28.783203,1541.854004,2023-03-09 13:04:40,2023-03-09 13:05:12,{}
23,74,24,5,34.222221,35.000000,31201.0,18.234131,25.984985,1504.911499,2023-03-09 13:06:22,2023-03-09 13:06:53,{}
24,77,25,5,34.555557,34.888889,31128.0,18.157593,27.956360,1504.056396,2023-03-09 13:08:00,2023-03-09 13:08:31,{}

In [28]:
tc_idle_case_measurements

,Id,Iteration,CollectionId,PackageTemperatureBegin,PackageTemperatureEnd,Duration,DramEnergyInJoules,GpuEnergyInJoules,CpuEnergyInJoules,BeginTime,EndTime,AdditionalMetadata
0,6,1,6,34.333332,33.666668,15027.0,8.765503,12.247192,142.845337,2023-03-09 12:28:56,2023-03-09 12:29:11,{}
1,9,2,6,35.555557,33.888889,15036.0,9.148743,13.195923,146.283691,2023-03-09 12:30:34,2023-03-09 12:30:49,{}
2,12,3,6,35.666668,35.888889,15038.0,11.266541,12.791748,247.106506,2023-03-09 12:32:14,2023-03-09 12:32:29,{}
3,15,4,6,34.333332,34.222221,15034.0,8.772522,12.169250,144.436279,2023-03-09 12:33:54,2023-03-09 12:34:09,{}
4,18,5,6,34.333332,34.444443,15035.0,8.755859,12.980591,143.441772,2023-03-09 12:35:31,2023-03-09 12:35:46,{}
5,21,6,6,34.333332,34.000000,15027.0,8.756042,13.196899,143.459656,2023-03-09 12:37:11,2023-03-09 12:37:26,{}
6,24,7,6,34.333332,35.777779,15029.0,8.838562,12.200134,160.492249,2023-03-09 12:38:51,2023-03-09 12:39:06,{}
7,27,8,6,34.666668,34.222221,15042.0,8.758118,10.343018,140.798401,2023-03-09 12:40:33,2023-03-09 12:40:48,{}
8,30,9,6,35.777779,34.000000,15036.0,8.821655,10.841187,150.863403,2023-03-09 12:42:10,2023-03-09 12:42:25,{}
9,33,10,6,34.444443,34.111111,15027.0,8.760803,10.290405,140.634583,2023-03-09 12:43:47,2023-03-09 12:44:02,{}
10,36,11,6,34.777779,34.222221,15030.0,8.751099,12.458679,143.100464,2023-03-09 12:45:26,2023-03-09 12:45:41,{}
11,39,12,6,34.777779,34.111111,15027.0,8.752441,12.499634,142.773987,2023-03-09 12:47:04,2023-03-09 12:47:19,{}
12,42,13,6,34.777779,34.111111,15027.0,8.753418,11.515930,141.815491,2023-03-09 12:48:42,2023-03-09 12:48:57,{}
13,45,14,6,34.555557,34.333332,15027.0,8.751343,11.296631,141.787476,2023-03-09 12:50:21,2023-03-09 12:50:36,{}
14,48,15,6,34.888889,33.888889,15028.0,8.820557,10.855103,150.669556,2023-03-09 12:52:05,2023-03-09 12:52:20,{}
15,51,16,6,34.555557,34.666668,15029.0,9.040527,10.872742,155.818665,2023-03-09 12:53:44,2023-03-09 12:53:59,{}
16,54,17,6,35.777779,35.666668,15042.0,9.328674,9.973511,214.214722,2023-03-09 12:55:25,2023-03-09 12:55:40,{}
17,57,18,6,34.777779,34.111111,15029.0,8.809570,11.136475,150.501709,2023-03-09 12:57:03,2023-03-09 12:57:18,{}
18,60,19,6,34.777779,34.222221,15027.0,8.768250,10.954468,142.347839,2023-03-09 12:58:39,2023-03-09 12:58:54,{}
19,63,20,6,34.666668,34.111111,15034.0,8.765564,11.101929,141.743774,2023-03-09 13:00:20,2023-03-09 13:00:35,{}
20,66,21,6,35.777779,36.333332,15033.0,9.633789,12.500549,219.747131,2023-03-09 13:01:59,2023-03-09 13:02:14,{}
21,69,22,6,36.222221,35.777779,15032.0,9.805908,12.654236,236.071350,2023-03-09 13:03:37,2023-03-09 13:03:52,{}
22,72,23,6,36.888889,36.111111,15037.0,9.824463,12.761230,225.789001,2023-03-09 13:05:15,2023-03-09 13:05:30,{}
23,75,24,6,34.555557,34.000000,15042.0,8.766113,10.708008,141.063416,2023-03-09 13:06:56,2023-03-09 13:07:11,{}
24,78,25,6,36.888889,34.000000,15038.0,8.809814,12.352417,150.882874,2023-03-09 13:08:33,2023-03-09 13:08:48,{}