In [1]:
from utils.database_connection import DatabaseConnection
import utils.results_repository as rep
import pandas as pd

In [2]:
db = DatabaseConnection()

Connected to MySQL Server version  8.0.31-23

### DUTs

In [3]:
rep.get_devices_under_test(db)

   Id Name       Os  Env
0   1  mhk  win32nt  dev

### Test Cases

In [4]:
rep.get_test_cases(db)

,Id,Name,Compiler,Language,Optimizations,TestCaseSize,Parameter,Threads
0,1,fannkuch-redux.exe,clang,c++,openmp,microbenchmarks,11,multi-thread

### Measuring Instruments

In [5]:
rep.get_measuring_instruments(db)

   Id Name
0   1  IPG

### Configurations

In [6]:
rep.get_configurations(db)

   Id  MinTemp  MaxTemp  Burnin AllocatedCores
0   1        0      100       0            [0]
1   2        0      100       0            [1]
2   3        0      100       0            [2]

### Experiment Names

In [7]:
rep.get_distinct_experiments(db)

   Experiment           Name
0           0  testing-phase

In [8]:
devices_under_test = [
    '1'
]
measuring_instruments = [
    '1'
]
configurations = [
    '1'
]

test_case = '1'

In [ ]:
query = "select * from MeasuringCollection WHERE ConfigurationId in %s AND TestCaseId = %s AND DutId IN %s MeasurementInstrumentId in %s"
parameters = []
columns =['Id', 'Name', 'Config', 'TestCase', 'Dut', 'MeasurementInstrument', 'AdditionalMetadata', 'CollectionNumber']

rep._query_all_with(query, parameters, columns, db)